body {
    background-color: rgb(203, 235, 248);
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
}

.player {
    display: flex;
    justify-content: center;
}