version: "3.8"
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: next-video-app:latest
    env_file:
      - .env
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
